@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --msc-primary-color: #1C2526;
    /* Deep Navy Blue  use - headers, footers, or large sections of the website*/
    --msc-secondary-color: #D4AF37;
    /* Rich Gold use- accents, buttons, icons, or highlights fot text */
    --msc-accent-white: #FFFFFF;
    /* Crisp White  use - sections of the website and text*/
    --msc-accent-gray: #E5E7EB;
    /* Soft Gray use -borders, or subtle dividers between sections */
    --msc-accent-cyan: #00A3E0;
    /* Vibrant Cyan use -call-to-action buttons, links, or icons to draw attention */

    /* Text Colors */
    --msc-text-light: var(--msc-accent-white);
    --msc-text-dark: var(--msc-primary-color);
    --msc-text-highlight: var(--msc-secondary-color);

    /* Button Colors */
    --msc-button-bg: var(--msc-accent-cyan);
    --msc-button-hover: #008BBF;
    /* Darker Cyan for hover effect */
    --msc-button-text: var(--msc-accent-white);

    /* Backgrounds */
    --msc-bg-primary: var(--msc-primary-color);
    --msc-bg-secondary: var(--msc-accent-white);
    --msc-bg-highlight: var(--msc-secondary-color);
    --msc-bg-muted: var(--msc-accent-gray);

    /* Border Colors */
    --msc-border-primary: var(--msc-primary-color);
    --msc-border-secondary: var(--msc-secondary-color);
    --msc-border-muted: var(--msc-accent-gray);
}
/* font */
@font-face {
    font-family: msc-them-regular-font;
    src: url("../fonts/Oswald/static/Oswald-Regular.ttf");
  }
  @font-face {
    font-family: msc-them-dmsant-font;
    src: url("../fonts/DM_Sans/static/DMSans-Black.ttf");
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* header section start */
/* logo header */
#msc-top-header {
    background-color: var(--msc-bg-muted);
}

#msc-logo-header-section {
    background-color: var(--msc-bg-primary);
}

.msc-logo-header {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.logo {
    width: 100%;
}

.search-box {
    position: relative;
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.search-box input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--msc-border-muted);
    border-radius: 5px;
    padding-right: 45px;
    font-size: 16px;

}

.search-box .search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
}

.search-box .search-btn img {
    height: 18px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links img {
    height: 24px;
}

/*logo header end  */

/* nav bar */
#msc-nav-header-section {
    background-color: var(--msc-bg-primary);
}

.mas-nav-section {
    display: flex;
    gap: 14px;
    list-style: none;
    padding: 15px;
    padding-top: 20px;
    position: relative;
    width: 100%;

    align-items: center;
}

.msc-nav-list {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
}

.msc-svg-icon {
    filter: invert(1);
}

.msc-svg-icon:hover {
    background-color: var(--msc-button-hover);
    padding: 6px;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
}

.msc-nav-list a {
    text-decoration: none;
    color: var(--msc-text-light);
}

.hover-underline {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* thoda gap niche se */
    width: 0;
    height: 2px;
    background-color:var(--msc-secondary-color); /* ya koi bhi color */
    transition: width 0.3s ease;
  }
  
  .hover-underline:hover::after {
    width: 100%;
  }
  
/* nav bar end */
/* Top header offer section */
#msc-top-header-offer-section {
    background-color: var(--msc-bg-muted);
}

.msc-top-header-offer-wrapper {
    width: 100%;

    color: var(--msc-text-dark);
    padding: 10px 0;
    font-size: 14px;
}

.msc-shop-now {
    text-decoration: none;
    color: var(--msc-accent-cyan);
    font-size: 12px;
    text-decoration: underline var(--msc-bg-primary);
}

/*Top header bar  */
@media (min-width: 768px) and (max-width: 991px) {
    .top-header-text {
        font-size: 14px;
    }
}

/* Desktop & up: Normal size */
@media (min-width: 992px) {
    .top-header-text {
        font-size: 18px;
    }
}

/* logo */
.search-box input {
    padding-right: 40px;
}

.msc-mobile-responsive-text a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.msc-mobile-responsive-text li:hover{
    text-decoration: underline var(--msc-secondary-color);
}
/* Top header offer section end */
/* header section end */

/* Banner section start */
#msc-banner-section {
    width: 100%;
}

.msc-banner-wrapper {
    width: 100%;
}

.msc-banner-img {
    width: 100%;
    object-fit: cover;
}

/* Banner section end */


/* Explore all category  start*/

.msc-categories-anchor-tag {
    text-decoration: none;
    color: black;
}

.msc-categories-anchor-tag:hover {
    transition: all 0.5s;
}

#msc-explore-all-category-section {
    width: 100%;
    margin-top: 4rem;
}


.msc-category-item-wrapper {
    display: flex;
    justify-content: center;
    padding: 16px;
}


.msc-all-category-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.msc-categoy-img {
    width: 100%;
    border-radius: 50%;
    padding: 14px 0;
}

.msc-category-paragraph {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
@media (max-width: 700px) {
    .msc-category-item-wrapper {
        width: 90% !important;
        
    }
    .msc-category-item-wrapper {
        display: flex
    ;
        justify-content: center;
        padding: 0;
    }
    .msc-category-img-wrapper {
        width: 60%; /* wrapper ka width fix kiya */
        margin: 0 auto;
        padding: 6px; /* minimal padding */
        text-align: center;
    }

    .msc-categoy-img {
        width: 100%; /* image remains responsive */
        border-radius: 50%;
    }

    .msc-category-paragraph {
        font-size: 12px;
        font-weight: 500;
        margin-top: 4px;
    }
}



/* explore all category end */
/* Popular product card */

.msc-popular-product-wrapper {
    position: relative;

    border: 1px solid #eee;
    padding: 12px;
    border-radius: 17px;
}

.msc-popular-pruduct-card {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.msc-popular-product-wrapper p {
    text-align: center;
}

.msc-popular-product-text p {
    position: absolute;
    width: 100%;
    background-color: rgba(24, 18, 18, 0.573);
    color: white;
    bottom: -1rem;
    padding: 4px;
    border-radius: 4px;
}

  
/* Popular product card end */

/* top Product card start */
#msc-category-offer-section {
    margin-top: 4rem;
}

.msc-popular-pruduct-card {
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--bg-card);
    border-radius: 1rem;
   box-shadow: rgba(92, 91, 91, 0.05) 0px 6px 24px 0px, rgba(111, 111, 111, 0.08) 0px 0px 0px 1px;
}
@media (max-width: 768px) {
    .msc-popular-pruduct-card{
      width: 80% !important;
      margin-top: 1rem;
      margin: 0 auto;
      display: block;
      gap: 20px !important;
      margin-top: 1rem;
    }
   
  }

.msc-popular-pruduct-image_container {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
}

.msc-popular-pruduct-image_container .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.msc-popular-pruduct-title {
    overflow: clip;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.msc-popular-pruduct-size {
    font-size: 0.75rem;
    color: var(--light);
}

.msc-popular-pruduct-action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.msc-popular-pruduct-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light);
}

.msc-popular-pruduct-cart-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    background-color: var(--msc-button-bg);
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--msc-text-light);
    text-wrap: nowrap;
    border: 2px solid hsla(60, 9%, 91%, 0.5);
    border-radius: 0.5rem;
}
.msc-popular-pruduct-cart-button .cart-icon {
    width: 1rem;
}

.fa-shopping-bag {
    color: white;
}
.msc-popular-pruduct-cart-button1 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    background-color: black;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--msc-button-text);
    text-wrap: nowrap;
    border: 2px solid hsla(60, 9%, 91%, 0.5);
    border-radius: 0.5rem;
}

.msc-popular-pruduct-category-name p {
    color: rgba(0, 0, 0, 0.63);
    font-size: 14px;
}

.msc-popular-pruduct-other-icon {
    position: absolute;
    right: 1.75rem;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 1.5rem;
}

.fa-heart {
    padding: 6px;
    background-color: white;
    border-radius: 50%;
    font-size: 14px;
    color: red;
}

/* special moment */

.msc-special-mement-img {
    border-radius: 20px;
    width: 100%;
    margin-top: 1rem;
}

.msc-spcial-moment-img-container {
    width: 100%;
    position: relative;
}

#msc-special-moment-section {
    margin-top: 6rem;
    
}

.msc-special-moment-text p {
    margin-top: 0.5rem;
    padding: 6px 8px;
    background-color: black;
    color: white;

}
@media (max-width: 768px) {
    .msc-special-moment-card {
      width: 80% !important;
      margin-top: 1rem;
      margin: 0 auto;
      display: block;
    }
    .msc-popular-product-wrapper{
        margin-bottom: 1rem;
    }
  }

/* create new bussiness start */
#msc-create-business-section{
    margin-top: 6rem;
}
.msc-create-business-main-card-wrapper{
    text-align:center;
}
@media (max-width: 768px) {
    .msc-create-business-main-card-wrapper {
      width: 80% !important;
      margin-top: 1rem;
      margin: 0 auto;
      display: block;
      gap: 20px !important;
    }
   
  }

.msc-create-business-main-card-wrapper .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin-top: 1rem;
  }

  .msc-create-business-main-card-wrapper .box  img{
    width: 100%;
    object-fit: contain;
  }
  .msc-create-business-main-card-wrapper  .name {
    font-weight:700;
    color:black;
    font-size: 14px;
    margin-top: 1rem;
  }
 
  
  
/* create new business end */

/* Top sale Product card start */
#msc-top-sale-product-section{
    margin-top: 6rem;
}
.msc-top-sale-product-card {
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--bg-card);
    border-radius: 1rem;
   box-shadow: rgba(92, 91, 91, 0.05) 0px 6px 24px 0px, rgba(111, 111, 111, 0.08) 0px 0px 0px 1px;
}
@media (max-width: 768px) {
    .msc-top-sale-product-card  {
      width: 80% !important;
      margin-top: 1rem;
      margin: 0 auto;
      display: block;
      gap: 20px !important;
      margin-top: 1rem;
    }
   
  }

.msc-top-sale-product-card-image_container {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
}

.msc-top-sale-product-card-image_container .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.msc-top-sale-product-card-title {
    overflow: clip;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.msc-top-sale-product-card-size {
    font-size: 0.75rem;
    color: var(--light);
}

.msc-top-sale-product-card-action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.msc-top-sale-product-card-price {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--light);
}
.msc-top-sale-product-card-rating{
    display: flex;
    align-items: center;
    font-size: 12px;
   gap: 4px;
}
.msc-top-sale-product-star-icon{
    display: flex;
    align-items: center;
    color: var(--msc-secondary-color);
    font-size: 12px;
}
.msc-top-sale-product-card-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    background-color: var(--msc-button-bg);
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--msc-text-light);
    text-wrap: nowrap;
    border: 2px solid hsla(60, 9%, 91%, 0.5);
    border-radius: 0.5rem;
}
.msc-top-sale-product-card-cart-button .cart-icon {
    width: 1rem;
}

.fa-shopping-bag {
    color: white;
}
.msc-top-sale-product-card-button1 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    background-color: black;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--msc-button-text);
    text-wrap: nowrap;
    border: 2px solid hsla(60, 9%, 91%, 0.5);
    border-radius: 0.5rem;
}

.msc-top-sale-product-card-category-name p {
    color: rgba(0, 0, 0, 0.63);
    font-size: 14px;
}

.msc-top-sale-product-card-other-icon {
    position: absolute;
    right: 1.75rem;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 1.5rem;
}

.fa-heart {
    padding: 6px;
    background-color: white;
    border-radius: 50%;
    font-size: 14px;
    color: red;
}

/* Top sale Product card end */

/* What are client say */
#msc-testimonial-section {
    margin-top: 6rem;
  }
  
  .msc-testmonial-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--msc-bg-secondary);
    padding: 20px;
    border-radius: 30px 0 30px 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  @media (max-width: 768px) {
    .msc-testmonial-card {
      width: 80% !important;
      margin-top: 1rem;
      margin: 0 auto;
      display: block;
      margin-top: 1rem;
    }
   
  }
  .msc-testmonial-stars {
    display: flex;
    gap: 0.25rem;
    color: var(--msc-bg-highlight);
  }
  
  .msc-testmonial-infos {
    margin-top: 1rem;
  }
  
  .msc-testmonial-date-time {
    color: var(--msc-accent-cyan);
    font-size: 12px;
    font-weight: 600;
    margin-top: 1rem;
  }
  
  .msc-testmonial-description {
    margin-top: 0.4rem;
    line-height: 1.625;
    color: var(--msc-text-dark);
  }
  
  .msc-tesmonial-author {
    margin-top: 1.3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--msc-text-dark);
    font-weight: 600;
  }
  
  /* Heading */
  .msc-category-heading {
    margin-bottom: 30px;
    position: relative;
  }
  
  .msc-heading-main-text {
    font-size: 30px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
  }
  
  .msc-heading-main-text::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--msc-secondary-color);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: 0.3s;
  }
  
  .msc-heading-main-text:hover::after {
    width: 260px;
  }
  
/* all header section apply end */

/* why chhose us section start */
#msc-why-choose-us-section{
    margin-top: 6rem;
}
.msc-faq-section-head{
   margin-bottom: 1rem;
}
.msc-faq-section-head p {
    color: #818181;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    
}
@media (max-width: 768px) {
    .msc-faq-item{
      width: 80% !important;
      margin-top: 1rem;
      margin: 0 auto;
      display: block;
      margin-top: 1rem;
    }
   
  }
.msc-faq-item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
    transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.msc-faq-item:hover {
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
    transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
    transform: translateY(-10px);
}

.msc-faq-item .icon {
    font-size: 40px;
    margin-bottom: 25px;
    color: var(--msc-accent-cyan);
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
}

.msc-faq-item p {
    font-size: 15px;
    line-height: 26px;
}

.msc-faq-item h6 {
    margin-bottom: 20px;
    color: #2f2f2f;
}

/* why-choose us end */
/* faq */
@media (max-width: 768px) {
    .accordion-item {
      width: 80% !important;
      margin-top: 1rem;
      margin: 0 auto;
      display: block;
      margin-top: 1rem;
    }
   
  }
#msc-faq-main-section {
    margin-top: 4rem;
    padding-bottom: 2rem;
  }
  
  .accordion-item {
    border: none;
    margin-bottom: 16px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .msc-faq-img-main {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .msc-faq-img {
    width: 100%;
  }
  
  .accordion-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .accordion-button {
    padding: 20px 25px;
    font-weight: 600;
    color: #333;
    background-color: #ffffff;
    transition: all 0.3s ease;
  }
  
  .accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #4a4a4a;
  }
  
  .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
  }
  
  .accordion-button::after {
    background-size: 20px;
    transition: all 0.3s ease;
  }
  
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  
  .accordion-body {
    padding: 25px;
    background-color: #ffffff;
  }
  
  /* Responsive Behavior */
  @media (max-width: 991.98px) {
    .msc-faq-img-main {
      display: none !important;
    }
  
    .msc-faq-question-section-wrapper {
      margin-top: 20px;
    }
  }
  


   
 
/* faq end */
/* Footer */
#msc-footer-section {
    background-color: var(--msc-bg-primary);
    padding: 40px 0 20px 0;
    width: 100%;
}

.msc-footer-heading a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.msc-footer a:hover {
    text-decoration: underline;
    color: var(--msc-button-hover);
}

.contact-info div {
    background: rgba(115, 114, 114, 0.978);
    padding: 8px 2px 10px 16px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-info img {
    width: 20px;
    height: 20px;
}

.msc-footer-heading h5 {
    color: var(--msc-accent-cyan);
    font-size: 16px;
    font-weight: 500;
}

.msc-footer-social-icons img {
    width: 20px;
    height: 20px;
}

.msc-footer-social-icons a {
    margin: 0 10px;
    border: 1px solid white;
    padding: 4px 6px 6px;
    border-radius: 50%;
    box-shadow: -4px -4px 4px -3px #dddddd;
}

.msc-footer-heading span {
    color: white;
    font-size: 12px;
}

.msc-footer-social-icons a:hover {
    background-color: var(--msc-button-hover);
    transition: all 0.5s ease-in-out;
}

/* Responsive CSS */
@media (max-width: 768px) {

    .msc-footer-heading,
    .text-md-start {
        text-align: center !important;
    }

    .msc-footer-social-icons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .msc-footer-social-icons a {
        margin: 5px;
    }
}

@media (min-width: 1902px) {
    .container {
        max-width: 1800px;
    }
}




/*All proudct car section */
/* hero section  */
